* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  color: #212121;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 384px auto;
  text-transform: capitalize;
}

@media (prefers-reduced-motion: no-preference) {
  
}

